.arhiv-val__select-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


.arhiv-val__select-wrap .nice-select{
    margin-right: 15px;
    margin-bottom: 15px;
    width: 132px;
}
.arhiv-val__top {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.arhiv__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    padding: 0 15px;
    margin-top: 15px;
}

.arhiv__item {
    width: calc(100% / 3 - 14px);
    margin: 0 7px;
    margin-bottom: 14px;
}

.arhiv__item__top {
    background-color: #167bc1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.arhiv__item__bot {
    border: 1px solid #c2c2c2;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.arhiv__item__bot div {
    font-weight: 600;
    margin: 0 10px;
}

.arhiv__item__bot span {
    font-weight: 400;
    padding-left: 5px;
}

.form-today {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-today label {
    margin-bottom: 0;
}

.form-today input {
    margin: 0 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100px;
}

.arhiv-val input::-webkit-outer-spin-button,
.arhiv-val input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-today2 {
    width: 240px;
    max-width: 100%;
}

.form-today2 label {
    margin-bottom: 3px;
}

.form-today2 input {
    margin-bottom: 15px;
}

.arhiv__item__bot .form-today2-wrap {
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1280px) {
    .arhiv__item__bot div {
        margin: 0 5px;
    }
}

@media (max-width: 1169px) {
    .arhiv__item {
        width: calc(100% / 2 - 14px);
    }
}

@media (max-width:629px) {
    .arhiv__item {
        width: calc(100% - 14px);
    }
    .arhiv-val__select-wrap {
        margin-bottom: 15px;
        margin-right: -15px;
        .form-select {
            width: 120px;
        }
    }
}

@media (max-width: 767px) {
    .form-today {
        flex-direction: column;
        align-items: flex-start;
        max-width: 260px;
    }
    .arhiv-val__top {
        flex-direction: column;
    }
    .form-today input {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .form-today label {
        margin-bottom: 3px;
    }
    .form-today .btn {
        width: 100%;
    }
}

.info-label {
    position: fixed;
    top: 15px;
    right: 15px;
    border-color: #9acfea;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border: none;
    border-left-width: 3px;
    border-left-style: solid;
    padding: 10px 10px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .3);
    opacity: 0;
    transition: 0.3s all;
}