.profile__top {
    background-color: #ccf9cc;
    padding-top: 25px;
    padding-bottom: 25px;
}
.profile .title{
    margin-bottom: 0;   
    text-align: center;
    padding:20px 0;
}

.profile__top1{
    margin-bottom: 5px;
    font-size: 16px;
    color: gray;
}
.profile__top2{
    font-size: 16px;
    color: #587ca0;
}

@media(max-width: 767px){
    .profile__top2{
        margin-bottom: 15px;
    }
}

.profile__section{
    margin-top: 15px;
    background-color: #f2f2f2;
    margin-right: 10px;
    margin-left: 15px;
    padding: 15px;
}

.profile__form{
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    
    color: #587ca0;
    margin-top: 25px;
}
.profile__section__line{
    margin-bottom: 35px;
}

.profile__sec__title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.profile__form{
    label{
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    input{
        height: 35px;
        padding: 15px;
        color: #587ca0;
        margin-bottom: 15px;
    }
    button{
        background-color: transparent;
        border: 0;
        color: #587ca0;
        padding: 0;
        margin-right: 10px;
    }
    button:hover{
        text-decoration: underline;
    }
}

@media(max-width: 767px){
    .profile__sec__title{
        text-align: left;
    }
    .profile__form input{
        width: 100%;
    }
}

.profile-sidebar {
    background-color: #487abd;
    padding: 15px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35) inset;
    color: #fff;
    .btn-primary{
        background-color: transparent;
        border: 1px solid #fff;
    }
    .btn-primary:hover{
        opacity: 0.7;
    }
}
.profile-sidebar__title{
    margin-bottom: 10px;
    font-size: 16px;
}
.profile-sidebar-log{
    display: flex;
    margin-bottom: 15px;
}

.profile-sidebar-log img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.profile-sidebar ul{
    padding-left: 0;
}
.profile-sidebar ul li{
    list-style: none;
    margin-bottom: 5px;
}

.profile-sidebar a{
    color: #fff;
    text-decoration: none;
    padding: 2px 0;
    display: block;
    i{
        margin-right: 2px;
    }
}
.profile-sidebar a:hover{
    text-decoration: underline;
}
.profile-sidebar ul li.active a{
    color: rgb(201, 201, 201);
}

@media(max-width: 1199px){
    .profile-sidebar{
        padding: 15px 15px;
    }
}

.email-triger{
    position: relative;
}
.email-triger-info{
    position: absolute;
    bottom: 100%;
    left: 0px;
    display: none;
    padding: 5px;
    background-color: #fff;
    font-size: 12px;
    width: 100%;
}

.email-triger:hover{
    .email-triger-info{
        display: block;
    }
}
.personal-calendar{
    .calendar__select-wrap{
        margin: 0;
        padding-top: 8px;
    }
    .calendar__select-wrap .nice-select{
        margin-bottom: 11px;
    }
    .calendar__top2{
        flex-direction: row;
        align-items: center;
    }
    #calendar2 .datepicker-picker{
        width: 100%;
    }
    #calendar2 .datepicker-grid {
        width: 100%;
    }
    #calendar2 {
        max-width: 375px;
        border-top: 1px solid #dad9d9;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dad9d9;
    } 
    #calendar2 .datepicker-cell{
        border-radius: 0;       
    }
}
.datepicker-cell.mydate{
    background-color: #3273dc;
    color: #fff;
    font-weight: 600;
}

.datepicker-cell.mydate:hover{
    background-color: #3273dc;
    color: #fff;
    font-weight: 600;
}

.calendar-more-btn2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.choose_otchet{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 50px 10px;
    overflow: auto;
    display: none;
    .choose_otchet__wrap{
        max-width: 600px;
        background-color: #fff;
        margin: 0 auto;
        position: relative;
    }
    .choose_otchet__close{
        width: 25px;
        height: 25px;
        color: #fff;
        position: absolute;
        top: -25px;
        right: -25px;
        cursor: pointer;
        svg{
            width: 100%;
            height: 100%;
            fill: #fff;
        }
    }
    .calendar__list{
        padding-bottom: 0;
        height: auto;
        margin: 0 auto;
    }
    .calendar__child{
        padding-bottom: 40px;
    }
    .calendar__item__v2{
        -webkit-line-clamp: 2;
    }
}

@media(max-width: 1024px){
    .choose_otchet{
        padding-top: 100px;
    }
    .choose_otchet .choose_otchet__close{
        right: 0;
        top: -30px;
    }
}