@import './base/reset.scss';
@import './base/font.scss';
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    background: #f5f5f5;
}
.app{
    overflow: hidden;
    padding-bottom: 50px;
}

.wrap{
    width: 100%;
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image: url('../img/main/header-fon.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
.header__logo {
    padding-bottom: 7px;
    padding-top: 2px;
}

@media(max-width: 1449px){
    .wrap{
        max-width: 1200px;
    }
}

@media(max-width: 1199px){
    .wrap {
        max-width: 1024px;
    }
}

@media(max-width: 1023px){
    .wrap{
        max-width: 768px;
    }
}
.header__contact{
    display: flex;
    align-items: center;
    color: #fff;   
}
.header__contact__wrap {
    display: flex;
    flex-direction: column;
}
.header__contact__wrap span {
    font-size: 10px;
    line-height: 5px;
    letter-spacing: .015em;
    display: block;
    margin-top: 7px;
    text-align: center;
}
.header__contact svg {
    margin-right: 10px;
    margin-bottom: 8px;
}
.header__contact__wrap a {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    transition: .1s all;
}
.header__contact__wrap a:hover {
    color: #06e9fb;
}
.cart-edit-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 33px;
    a{
        margin-left: 17px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #232323;
    }
    a:hover{
        color: #06e9fb;
    }
}

.cart__wrap{
    display: flex;
}
.cart__left{
    flex: 1;
}
.cart__right{
    flex: 0 0 434px;
    margin-left: 15px;
}
.cart-padding{
    border-radius: 7px;
    background: #FFFFFF;
    padding: 26px;
}
.cart__top{
    display: flex;
    position: relative;
    margin-left: 4px;
    padding-right: 20px;
    margin-bottom: 26px;
}
.cart__top__item{
    position: relative;
    height: 50px;
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C4C4C4;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #C4C4C4;
    border-right: 0;
    position: relative;
    margin-left: -4px;
}

.cart__top__item.active{
    background-color: #232323;
    color: #06E9FB;
}
.cart__top__item.cart__top__item--arr{
    padding-left: 20px;
}
.cart__top__item.cart__top__item--arr:after{
    background-image: url(../img/cart/cart-arr.svg);
    content: "";
    width: 39px;
    height: 100%;
    position: absolute;
    background-size: 320px auto;
    right: -17px;
    background-position: center right;
    z-index: 1;
}
.cart__top__item.cart__top__item--arr.active:after{
    background-image: url('../img/cart/cart-arr2.svg');
}

.step{
    display: none;
}

.step.active{
    display: block;
}

.step1__wrap{
    display: flex;
    align-items: center;
}
.step1__left{
    flex: 0 0 544px;
    margin-right: 56px;
}

.step input{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    height: 52px;
    padding: 0 27px;
    width: 100%;
}
.step1__left input{
    margin-bottom: 25px;
}
.step input::placeholder{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #C4C4C4;
}
.step1__right {
    font-weight: 500;
    font-size: 12px;
    line-height: 203.9%;
    padding-right: 10px;
}
.step1__right span{
    color: #F843D6;
}
.step1__right a{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #848484;
    padding: 5px 0;
    cursor: pointer;
    input{
        display: none;
    }
    input + span{
        margin-bottom: 1px;
        display:block;
        margin-right: 13px;
        background: #FFFFFF;
        border: 1px solid #848484;
        border-radius: 4px;
        width: 15px;
        height: 15px;
        position: relative;
    }
    input:checked + span{
        border: 1px solid #232323;
    }
    input + span:after{
        content: "";
        position: absolute;
        top: 1px;
        left: 4px;
        width: 3px;
        height: 7px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(45deg);
        opacity: 0;
    }
    input:checked + span:after{
        opacity: 1;
    }
}

.step__bot{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.next-step{
    padding: 12px 23px;
    background: #2EC258;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.1s all;
}
.next-step:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.prev-step{
    padding: 12px 23px;
    background-color: #fff;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #000000;
    color: #000;
    cursor: pointer;
    transition: 0.1s all;
    width: 155px;
}
.prev-step:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}